div{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    font-family: "Libre Baskerville", serif;

    
}

h1{
    font-size: 3rem;
    margin: 0;
    
}
body{
    background-color: black
}


img{
    width: 100%;
    border: solid white;
    border-width: 5px;
}

